@font-face {
    font-family: 'Roboto';
    src:url('Roboto.ttf.woff') format('woff'),
        url('Roboto.ttf.svg#Roboto') format('svg'),
        url('Roboto.ttf.eot'),
        url('Roboto.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body{
	line-height: 0;
	background-color:#f1f1f1;
}
body, p{
	color: #474A48;
	font-family: 'Roboto', sans-serif;

}
p{
	line-height: 1.5rem;
	font-size: 1rem;
}
h1{
	color:#006633;
	font-weight: 400;
	font-size: 2.4rem;
}
h2,h3,h4, h5{
	font-weight: 300;
}
.pad-sm{
	padding: 2rem 0;
}
.bg-white{
	background-color: #ededed;
}
.bg-grey{
	background-color: #3d3d3d;
	padding: 2rem 0;
}
.bg-green{
	background-color: #006633;
	padding:2rem 0;
}
.text-green{
	color: #006633;
}
.text-inverse{
	color: #f1f1f1!important;
}
.hero{
	padding: 3rem;
}
.hero h1{
	font-size: 4rem;
}
.row{
	min-height: 500px;
	align-self: center;
	align-content: center;
	align-self:center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
.btn{
	min-width: 150px;
	padding: .4em 1em;
	background-color:#006633;
	border-color: #006633;
	font-weight: 700;
	letter-spacing: .1em;
}
.link-icon img{
	height: auto;
	max-height: 175px;
	padding: 1rem;
	widows: auto;
}
svg{
	fill: #fff;
}
svg:hover{
	fill: #f3f3f3;
}
a:hover,
img:hover{
	opacity: .7;
}